<nz-layout class="layout">
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-content>
    <!-- <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb> -->
    <!-- <div class="inner-content">Content</div> -->
     <ng-container *ngTemplateOutlet="refTemplate; context: classObj">

     </ng-container>
     <ng-template #refTemplate let-name="name" let-teacher="teacher" let-link="link">
      <p>container && template</p>
      <h4>{{name}}</h4>
      <h5>老師: {{teacher}}</h5>
      <h5>請點擊連結: {{link}}</h5>
     </ng-template>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
